/* ---- Global style ---- */
html {
    box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}

body {
  color:#343434;
  margin: 0;
  padding: 0;
  font-family:'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #ffe66d;
}

.projects a {
    color: #403636;
}
a:hover {
  text-decoration: none;
}

.mke {
  width: 100%;
}

.box {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 1px solid black;
  background-color: black;
  color: white;
  height: 100vh;
}

.box-text {
  height: 40vh;
  margin-top: 38vh;
}

.box-img {
  height: 75vh;
}

.box-img img{
  height: 75vh;
  margin-top: 10vh;
}

.box button {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 15px;
}


/* Headings */
h1, h2 {
  line-height: 1;
  font-family:'Caveat', cursive;
  margin: 10px 0;
  text-align: center;
}

h1 {
  font-size: 44px;
}

h2 {
  font-family: Trebuchet MS, Helvetica, sans-serif; 
  font-size: 30px;
}

h3 {
  margin-bottom: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;    
}


/* ---- Navigation Menu ---- */
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: left;
  padding: 10px 20px 5px 20px;
}

li.navigation {
  float: left;
}

li img.navigation {
  margin-right: 40px;
}

li a.navigation {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: all 200ms ease-out;
  margin: 19px 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight:bold;
}

li a:hover.navigation {
  background-color: #6abda8; 
}

.site-name {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1rem;
}


/* ---- Forms ---- */
form.login {
  display: inline-block;
  padding: 15px auto 15px auto;
  margin: 15px auto 10px auto;
  background: #f1f1f1;
  box-shadow: 4.0px 6.0px 6.0px hsl(0deg 0% 0% / 0.38);
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 50%;
}

fieldset.login {
  border: 0px;
  padding: 15px;
}

input.login {
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80%;
  min-width: 100px;
  vertical-align: bottom;
  top: -10px;
  font-size: 16px;
}

label.login {
  margin-bottom: 10px;
}

select {
  cursor: pointer;
}

input, select, textarea {
  /*margin-bottom: 10px;*/
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  width: calc(100% - 12px);
  padding: 5px;
}


/* ---- All buttons (Including submit input) ---- */
button, input[type="submit"] {
  margin: 10px;
  padding: 15px 40px;
  border: 0px;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  outline: none;
  text-align: center;
  transition: all 200ms ease-out;
  user-select: none;
  touch-action: manipulation;
  min-height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.button {
  background-color: #000000;
  color: #FFFFFF;
}

.button:hover {
  background-color: #757575;
}

.button_reverse {
  background-color: #fcfcfc;
  color: #000000;
}

.button_reverse:hover {
  background-color: #aaaaaa;
}

.button_warn {
  background-color: #a00000;
  color: #FFFFFF;
}

.button_warn:hover {
  background-color: #fd2525;
}


/* ---- User settings page ---- */
hr.user-settings {
  margin: 20px;
  width: 90%;
  border-color: #004931;
  border-width: 1px;
  border-style: solid;
}

h2.user-settings {
  margin-top: 15px;
}


/* ---- Example select input (From W3Schools) ---- */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  width: 200px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


/* ---- Admin User List Table ---- */
table.userlist {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  padding: 10px;
  background-color: #04AA6D;
  color: #FFFFFF;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


/* ---- Footer ---- */
#footer {
  margin-top: 50px;
}